GATEWAY_PORT=3000
AUTH_PORT=3004
PLACES_PORT=3001
LOCATION_PORT=3002
REALTIME_PORT=3003
FRONTEND_PORT=5173
AUTH_SERVICE_URL=http://localhost:3004
PLACES_SERVICE_URL=http://localhost:3001
LOCATION_SERVICE_URL=http://localhost:3002
REALTIME_SERVICE_URL=http://localhost:3003
PLACES_DB_PATH=./data/places.sqlite
AUTH_DB_PATH=./data/auth.sqlite
JWT_SECRET=change-me
